# Ignore virtual environment directory
/tpenv

# Ignore training and validation image directories
/train_img
/val_img

# Ignore Python bytecode files
__pycache__/

# Ignore Presentation Generative AI (too heavy)
/Generative_AI.pptx